.score-title {
    color: lightslategray;
    font-family: monospace;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 32px;
}

.subtitle {
    color: orange;
    margin-top: -0.5%;
    font-weight: 600;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 35px;
}

#rgb {
    margin-top: 2%;
    color: orangered;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 20px;
}

#result {
    font-weight: bold;
}

.color {
    margin-top: 25%;
    margin-left: 30%;
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

#score-div {
    background: #c6c6c6;
    width: 5%;
    margin-bottom: -2%;
}

#score {
    font-weight: bold;
    font-size: 17px;
}
